@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #fcf6e5;
    --foreground: #3e2723;
}

@layer base {
    body {
        @apply bg-parchment text-dark-brown antialiased;
    }
}